<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CyberHub</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css')}}">
	<script>
        function tableFilter() {
            var input, filter, table, tr, td, i, txtValue;
			input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("databreaches");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
				h1 = tr[i].getElementsByTagName("h1")[0];
                if (h1) {
                    txtValue = h1.textContent || h1.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
	</script>
</head>

<body>
	<div class="top">
		<h1 class="top">CyberHub</h1>
		<h4 class="top">Your main portal for everything Cyber!</h4>
	</div>

	<div class="cryptobox">
		<marquee behavior="scroll" direction="left">
			<h2 id="crypto" class="crypto">
				{% for coins in cryptos %}
				{{coins[1]}} | {{coins[2]}} |
				{{coins[3]}}%
				&nbsp&nbsp&nbsp&nbsp
				{% endfor %}
			</h2>
		</marquee>
	</div>

	<div class="stats">
		<table class="stats">
			<tr>
				<th class="statleft">
					<h3 class="statLeft">
						Cyber-Attacks Today: {{attacksToday}}
					</h3>
				</th>
				<th class="statright">
					<h3 class="statRight">
						Most Targeted Countries:&nbsp&nbsp&nbsp&nbsp&nbsp
						{% for country in topCountries %}
						{{country[1]}}
						<br>
						{% endfor %}
					</h3>
				</th>
			</tr>
		</table>
	</div>

	<br>

	<div class="box">
		<div class="float">
			<div class="containerTop">
				<h1 class="articletop">&nbspToday's Headlines:</h1>
			</div>
			<div class="container">
				<table border=1 frame=void rules=rows>
					{% for news in articles %}
					<tr class="news">
						<th class="left">
							<a class="news" href="{{news[6]}}">{{news[1]}}</a>
							<h2 class="news">{{news[2]}}</h2>
							<h3 class="newsTime">{{news[3]}}</h3>
						</th>
						<th class="right">
							<img class="articleimg" src="{{news[5]}}" loading="lazy" onerror="this.onerror=null;this.src='/static/defaultimg.png';" alt="No Image" />
						</th>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>

		<div class="float">
			<div class="containerTop">
				<h1 class="articletop">&nbspLive News:</h1>
			</div>
			<div class="container">
				<table border=1 frame=void rules=rows>
					{% for live in livenews %}
					<tr class="news">
						<th class="left">
							<a class="news" href="{{live[6]}}">{{live[1]}}</a>
							<h2 class="news">{{live[2]}}</h2>
							<h3 class="newsTime">{{live[3]}}</h3>
						</th>
						<th class="right">
							<img class="articleimg" src="{{live[5]}}" loading="lazy" onerror="this.onerror=null;this.src='/static/defaultimg.png';" alt="No Image" />
						</th>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>

	<br>

	<div class="box">
		<div class="float small">
			<div class="containerTop">
				<h1 class="articletop">&nbspLinked-in Cyber Jobs:</h1>
			</div>
			<div class="container">
				<table border=1 frame=void rules=rows>
					{% for job in jobs %}
					<tr class="news">
						<th class="left">
							<a class="news" href="{{job[5]}}">{{job[1]}}</a>
							<h2 class="news">{{job[2]}}</h2>
							<h3 class="newsTime">{{job[3]}}</h3>
							<h3 class="newsTime">{{job[4]}}</h3>
						</th>
						<th class="right">
							<img class="articleimg" src="{{job[6]}}" loading="lazy" onerror="this.onerror=null;this.src='/static/defaultimg.png';" alt="No Image" />
						</th>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>

		<div class="float big">
			<div class="containerTop">
				<h1 class="articletop">&nbspKnown Data Breaches:</h1>
				<input type="text" class="filter" id="myInput" onkeyup="tableFilter()" placeholder="Search for data breaches..">
			</div>
			<div class="container big">
				<table id="databreaches" border=1 frame=void rules=rows>
					{% for attack in attackHistory %}
					<tr class="news">
						<th class="left">
							<h1 class="news">{{attack[1]}}</h1>
							<h3 class="newsTime">Published:{{attack[3]}}</h3>
							<h2 class="news">{{attack[2]}}</h2>
							<h2 class="atkHeading float">Accounts Compromised:<h2 class="news">{{attack[5]}}</h2></h2>
							
							<h2 class="atkHeading">Data Types Compromised:</h2>
							<h2 class="news">{{attack[6]}}</h2>
						</th>
						<th class="right">
							<img class="articleimg" src="{{attack[7]}}" loading="lazy" onerror="this.onerror=null;this.src='/static/defaultimg.png';" alt="No Image" />
						</th>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</body>
</html>
